.page.theme_dark {
  --cover-images: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --span-title-color: #db00ff;
  --title-section-color: #ff0070;
  --title-text-color: #000028;
  --main-text-color: #f1b2ce;
  --button-border-hover-color: rgba(255, 0, 112, 0.4);
  --button-underline-color: #ff0070;
  --link-border-color: #f1b2ce;
}
