.theme_light .rec {
  visibility: hidden;
}

.page.theme_light {
  --cover-images: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --decor-element-color: #353430;
  --span-title-color: #ffc2e6;
  --title-section-color: #353430;
  --title-text-color: #353430;
  --main-text-color: #353430;
  --button-border-hover-color: rgba(50, 49, 45, 0.4);
  --button-underline-color: #353430;
  --link-border-color: #353430;
}

@media (width >= 1024px) {
  .decor-span {
    text-shadow: 4px 4px 0px #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-images: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --decor-element-color: #353430;
    --span-title-color: #ffc2e6;
    --title-section-color: #353430;
    --title-text-color: #353430;
    --main-text-color: #353430;
    --button-border-hover-color: rgba(50, 49, 45, 0.4);
    --button-underline-color: #353430;
    --link-border-color: #353430;
  }

  .page {
    background-image: var(--cover-images);
  }

  .theme_auto .rec {
    visibility: hidden;
  }

  @media (width >= 1024px) {
    .decor-span {
      text-shadow: 4px 4px 0px #ff0070;
    }
  }
}
