:root {
  --cover-images: url(../images/cover-image-dark.png);
  --main-font: IBM Plex Mono, Arial, sans-serif;
  --accent-color: #ff0070;
  --span-title-color: #db00ff;
  --title-section-color: #ff0070;
  --title-text-color: #000028;
  --main-text-color: #f1b2ce;
  --button-border-hover-color: rgba(255, 0, 112, 0.4);
  --button-underline-color: #ff0070;
  --link-border-color: #f1b2ce;
  --padding-header: 10px;
  --padding-main: 40px 10px;
  --padding-footer: 10px;
}
